<h2>Directory</h2>
<p><a class="button" href="/dashboard/directory/new">New page</a></p>

{{#*inline "nested"}}
	<tr class="{{#if is_empty}}empty{{/if}}">
		<td colspan={{colspan}} class="leader">{{colspan}}</td>
		<td colspan={{colspan_remaining}}>
			{{#if is_empty}}Empty{{/if}}
			<strong>{{title}}</strong><br><small><code>{{uri}}</code></small>
		</td>
		<td class="utility"><a href="/dashboard/directory/{{uri}}">Edit</a></td>
		<td class="utility"><a href="/{{uri}}">View</a></td>
		<td class="utility"><a href="/dashboard/delete/{{uri}}">Remove</a></td>
		<td class="utility">{{#if invalid_links_count}}<span class="warn">💔 {{invalid_links_count}}</span>{{/if}}</td>
	</tr>	
	{{#each children}}
		{{> nested this}}
	{{/each}}
{{/inline}}

<h3>Pages with no parent</h3>
<table>
	{{#each orphans}}
	<tr class="{{#if is_empty}}empty{{/if}}">
		<td>
			{{#if is_empty}}Empty{{/if}}
			<strong>{{title}}</strong><br><small><code>{{uri}}</code></small>
		</td>
		<td class="utility"><a href="/dashboard/directory/{{uri}}">Edit</a></td>
		<td class="utility"><a href="/{{uri}}">View</a></td>
		<td class="utility"><a href="/dashboard/delete/{{uri}}">Remove</a></td>
		<td class="utility">{{#if invalid_links_count}}<span class="warn">💔 {{invalid_links_count}}</span>{{/if}}</td>
	</tr>	
	{{/each}}
</table>

<h3>Pages on directory</h3>

<table>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	{{#each items}}
		{{>nested this}}
	{{/each}}
</table>
