{{#next_page}}
<div class="next-section -{{type}} {{../class}}">
	<p>
		<a href="/{{uri}}">Next section:</a>
		<span>{{title}}{{#if surtitle}} <span class="surtitle">({{surtitle}})</span>{{/if}}</span>
	</p>
</div>
{{/next_page}}
