<h3>How to use MaxFacts</h3>
<p>Go to <a href="/dashboard">Dashboard</a> to manage content.</p>
<h3>What we don't do</h3>
<p>MaxFacts is not intended for self-diagnosis and strongly discourages such practices. It is only intended to be used by patients, carers, and professionals. If you believe something is wrong with you, go to <a href="#">Signs and Symptoms</a> for more information.</p>
<div class="sections">
	<nav>
		<h3><a href="/diagnosis">Diagnosis</a></h3>
		<ul>
{{#each diagnosis}}
	<li><a href="/{{uri}}">{{title}}</a></li>
	{{/each}}
		</ul>
	</nav>
	<nav>
		<h3><a href="/treatment">Treatment</a></h3>
		<ul>
{{#each treatment}}
	<li><a href="/{{uri}}">{{title}}</a></li>
	{{/each}}
		</ul>
	</nav>
	<nav>
		<h3><a href="/help">Help and self-help</a></h3>
		<ul>
{{#each help}}
	<li><a href="/{{uri}}">{{title}}</a></li>
	{{/each}}
		</ul>
	</nav>
</div>
