<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="/css/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<header>
			<h1>MaxFacts</h1>
		</header>
		<p>
			<a href="/">Home</a>
			{{#each breadcrumbs}}
				» <a href="/{{uri}}">{{title}}</a>
			{{/each}}
			{{#if uri}}
				» {{title}}
			{{/if}}
		</p>
		{{{body}}}
	</body>
</html>
