<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="/css/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<header>
			<div>
				<h1><a href="/">MaxFacts</a></h1>
			</div>
			<nav>
				<p>
					<a href="/">Home</a>
					{{#each breadcrumbs}}
					» <a href="/{{uri}}">{{title}}</a>
					{{/each}}
					{{#if uri}}
					» {{title}}
					{{/if}}
				</p>
			</nav>
		</header>
		<section>
			{{{body}}}
		</section>
		<footer>
			{{#if edit_uri}}
				<p><a href="{{edit_uri}}">Edit this page</a></p>
			{{/if}}
		</footer>
	</body>
</html>
