{{#each directory}}
<nav>
	<ul>
		{{#each this}}
			<li><a href="/{{uri}}" class="{{type}} {{lookup ../../selected uri}}">
				{{#if surtitle}}
					<span class="surtitle">{{surtitle}}</span>
				{{/if}}
				{{title}}
				{{#if description}}
					<span class="subtitle">{{description}}</span>
				{{/if}}
			</a></li>
			{{#if sublist}}
				{{#each sublist}}
					<li><a href="/{{uri}}" class="sublist {{type}}">{{title}}</a></li>
				{{/each}}
			{{/if}}
		{{/each}}
	</ul>
</nav>
{{/each}}
<section>
	<h3>{{title}}</h3>
	{{#if body}}
		{{{shift_headers 3 body}}}
	{{else}}
		<p>This section has no content yet.</p>
	{{/if}}
	{{#next_page}}
		<p class="next-section"><a href="/{{uri}}">Next section</a> <span>{{title}}{{#if surtitle}} <span class="surtitle">({{surtitle}})</span>{{/if}}</span></p>
	{{/next_page}}
</section>
