<main class="level3">
	<header>
		<h2>{{title}}{{#if surtitle}} <span class="surtitle">({{surtitle}})</span>{{/if}}</h2>
		{{#description}}
			<p>{{this}}</p>
		{{/description}}
		<h3>Contents</h3>
		<ol>
			{{#each contents}}
				<li><a href="#{{id}}">{{{text}}}</a></li>
			{{/each}}
		</ol>
	</header>
	{{{shift_headers 2 body}}}
</main>
