<main class="search">
	<h2>Search results</h2>
	<form action="/search" method="GET">
		<input type="search" name="query" value="{{query}}">
	</form>
	<p>Found {{results.length}} pages.</p>
	{{#each results}}
		<div class="search-result -{{type}}">
			<p class="result-breadcrumbs">
				{{#each breadcrumbs}}<strong>{{title}}</strong>{{#unless @last}} » {{/unless}}{{/each}}
			</p>
			<h3>{{title}}</h3>
			{{#match}}
				<p>{{before}}<span class="search-match">{{match}}</span>{{after}}</p>
			{{/match}}
			<p><a class="button" href="/{{uri}}">Go to this result</a></p>
		</div>
	{{/each}}
</main>
