<main>
	<h2>{{title}}</h2>
	{{#each description}}
		<p>{{this}}</p>
	{{/each}}
	{{#if ingredients}}
		<h3>Ingredients</h3>
		<ul>
		{{#each ingredients}}
			{{#if heading}}
				</ul><h4>{{heading}}</h4><ul>
			{{else}}
				<li>{{this}}</li>
			{{/if}}
		{{/each}}
		</ul>
	{{/if}}
	{{#if method}}
		<h3>Method</h3>
		<ol>
		{{#each method}}
			{{#if heading}}
				</ol><h4>{{heading}}</h4><ol>
			{{else}}
				<li>{{this}}</li>
			{{/if}}
		{{/each}}
		</ol>
	{{/if}}
	{{#if tips}}
		<h3>Tips</h3>
		{{#each tips}}
			{{#if heading}}
				<h4>{{heading}}</h4>
			{{else}}
				<p>{{this}}</p>
			{{/if}}
		{{/each}}
	{{/if}}
	{{#if variations}}
		<h3>Variations</h3>
		{{#each variations}}
			{{#if heading}}
				<h4>{{heading}}</h4>
			{{else}}
				<p>{{this}}</p>
			{{/if}}
		{{/each}}
	{{/if}}
</main>
