<h2>Editor</h2>
{{#if saved}}
	<p class="success">Content has been updated. Go <a href="/{{uri}}">to page</a>, return <a href="/dashboard/directory">to directory editor</a>, or <a href="/dashboard/directory/new">create a new page</a>.</p>
{{/if}}
<form method="post" action="#">
	<p>
		<label for="title">Title</label>
		<input type="text" name="title" id="title" value="{{title}}">
	</p>
	<p>
		<label for="description">Short description (optional)</label>
		<input type="text" name="description" id="description" value="{{description}}">
	</p>
	<p>
		<label for="uri">URL</label>
		<input type="text" name="uri" id="uri" value="{{uri}}">
	</p>
	<p><label for="type">Type</label>
		<select name="type" id="type">
			<option value="page"      {{lookup selected 'page'}}     >Page</option>
			<option value="directory" {{lookup selected 'directory'}}>Directory</option>
			<option value="level3"    {{lookup selected 'level3'}}   >Level 3</option>
			<option value="level2"    {{lookup selected 'level2'}}   >Level 2</option>
			<option value="level1"    {{lookup selected 'level1'}}   >Level 1</option>
		</select>
	</p>
	<p><label for="has_sublist"><input type="checkbox" name="has_sublist" id="has_sublist" {{#if has_sublist}}checked{{/if}} />Has sub-list?</label></p>
	<div><textarea id="body" name="body" rows="8">{{body}}</textarea></div>
	<p><input type="submit" value="Save"></p>
</form>
<!--<script type="text/javascript" src="/js/editor.js"></script>-->
