<h2>Directory</h2>
<p><a class="button" href="/dashboard/directory/new">New page</a></p>

<table>
	{{#each items}}
		<tr class="{{#if is_empty}}empty{{/if}}">
			<td>
				{{#unless id}}*{{/unless}}
				<small><code>{{uri}}</code></small>
			</td>
			<td><small>{{type}}</small></td>
			<td class="utility">
				<a href="/dashboard/directory/{{uri}}">Edit</a> /
				<a href="/{{uri}}">View</a> /
				<a href="/dashboard/directory/delete/{{uri}}">Remove</a>
			</td>
			<td class="utility">{{#if invalid_links_count}}<span class="warn">💔 {{invalid_links_count}}</span>{{/if}}</td>
		</tr>	
	{{/each}}
</table>
